/* 1023px */
/* 740px */
/* 739px */
html {
  font-size: 62.5%;
  line-height: 1.4;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

.wrapper {
  padding: 0 3rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a, a:active, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

footer {
  height: 5.5rem;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .copy {
  color: gray;
}
footer .copy a {
  color: gray;
  font-weight: bold;
  font-style: italic;
}
footer .copy a:hover {
  color: rgb(187, 187, 187);
}
footer .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
@media (max-width: 46.1875em) {
  footer {
    height: auto;
    padding: 2rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 1rem;
  }
}

.header {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .head-title {
  color: #3cb878;
}
.header .head-title h1 {
  font-weight: 700;
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .header .head-title h1 {
    font-size: 2.2rem;
  }
}
.header .head-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
}
.header .head-nav-items a {
  color: rgb(90, 90, 90);
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  will-change: color;
}
.header .head-nav-items a:hover {
  color: #3cb878;
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .header .head-nav {
    gap: 2rem;
  }
}
@media (max-width: 46.1875em) {
  .header .head-nav {
    display: none;
  }
}
.header .head-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 3rem;
}
.header .head-menu-items:nth-child(1) {
  position: relative;
}
.header .head-menu-items:nth-child(1)::after {
  content: "3";
  position: absolute;
  top: -15px;
  right: -13px;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  background-color: #3cb878;
  border-radius: 50%;
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .header .head-menu {
    display: none;
  }
}
@media (max-width: 46.1875em) {
  .header .head-menu {
    display: none;
  }
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 46.1875em) {
  .header {
    height: 5rem;
  }
}
.header .btn {
  font-size: medium;
}
.header .offcanvas-title {
  font-size: 2rem;
}
.header .offcanvas-end {
  width: 20rem;
  height: 22.4rem;
  overflow: hidden;
  border-radius: 1rem;
}
.header .dropdown-item a {
  color: rgb(90, 90, 90);
}
.header .dropdown-item:hover {
  background-color: #3cb878;
}
.header .dropdown-item:hover a {
  color: white;
}

.banner {
  position: relative;
}
.banner-title {
  position: absolute;
  top: 50%;
  left: 15%;
  z-index: 1;
}
.banner-title h2 {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .banner-title h2 {
    font-size: 4rem;
  }
}
@media (max-width: 46.1875em) {
  .banner-title h2 {
    padding-top: 1rem;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }
}
.banner-title h2:nth-child(1) {
  color: rgb(90, 90, 90);
}
.banner-title h2:nth-child(2) {
  color: #3cb878;
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .banner-title {
    top: 35%;
    left: 5%;
  }
}
@media (max-width: 46.1875em) {
  .banner-title {
    position: static;
  }
}
.banner-title-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 46.1875em) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.seller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15rem;
  margin: 10rem auto;
}
.seller-title h3 {
  font-size: 3rem;
}
.seller-title p:nth-of-type(1) {
  color: #3cb878;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 600;
}
.seller-title p:nth-of-type(2) {
  width: 30rem;
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .seller-title p:nth-of-type(2) {
    width: 100%;
  }
}
@media (max-width: 46.1875em) {
  .seller-title p:nth-of-type(2) {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .seller-title {
    text-align: center;
  }
}
@media (max-width: 46.1875em) {
  .seller-title {
    text-align: center;
  }
}
.seller-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}
.seller-products-items .seller-position {
  position: relative;
}
.seller-products-items .seller-position:hover .seller-bg, .seller-products-items .seller-position:hover .seller-base {
  opacity: 1;
}
.seller-products-items .seller-position:hover .seller-base {
  cursor: pointer;
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .seller-products-items .seller-click {
    max-width: 30rem;
  }
}
.seller-products-items .seller-bg {
  background-color: rgba(236, 236, 236, 0.363);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.seller-products-items .seller-base {
  position: absolute;
  top: 2rem;
  right: 2rem;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.seller-products-items .seller-base-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: #3cb878;
}
.seller-products-items .seller-base img {
  width: 2.5rem;
  height: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.seller-products-items > a {
  display: inline-block;
  margin: 1.5rem auto 0.5rem;
  font-weight: bold;
  color: rgb(90, 90, 90);
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .seller-products-items > a {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 46.1875em) {
  .seller-products-items > a {
    display: block;
    margin: 0 auto 0.5rem;
  }
}
.seller-products-items p {
  margin: 0;
  color: #3cb878;
  font-weight: 600;
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .seller-products-items p {
    text-align: center;
  }
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .seller-products {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 46.1875em) {
  .seller-products {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
  }
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .seller {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5rem auto;
    gap: 3rem;
  }
}
@media (max-width: 46.1875em) {
  .seller {
    display: block;
    margin: 2rem auto;
  }
}

.special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 20rem;
  background-color: #f5f6f9;
}
.special-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.special-items p {
  margin: 0;
}
.special-items p:nth-of-type(1) {
  font-weight: bold;
}
.special-items p:nth-of-type(2) {
  font-size: 1.4rem;
  font-style: italic;
  opacity: 0.8;
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .special-items {
    width: 35rem;
    margin: 2rem;
  }
}
@media (max-width: 46.1875em) {
  .special-items {
    padding: 1rem 0;
    border-bottom: 1px solid rgb(224, 224, 224);
  }
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .special {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 46.1875em) {
  .special {
    display: block;
    height: auto;
  }
}

.sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sale-items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.sale-items img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.feature-title {
  margin: 10rem auto;
  text-align: center;
}
.feature-title h3 {
  font-size: 3.7rem;
  font-weight: bold;
}
.feature-title p {
  font-style: italic;
  font-weight: 600;
  color: #3cb878;
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .feature-title {
    margin: 3rem auto;
  }
}
@media (max-width: 46.1875em) {
  .feature-title {
    margin: 3rem auto;
  }
}
.feature-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10rem;
}
.feature-products-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 10rem;
}
.feature-products-items .product-wrapper {
  margin-top: 1.4rem;
}
.feature-products-items .product-wrapper h4 {
  margin: 1rem 0;
  font-size: 1.8rem;
  font-weight: bold;
}
.feature-products-items .product-wrapper p {
  margin: 0;
  color: #3cb878;
  font-weight: 500;
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .feature-products-items .product-wrapper:nth-last-child(5) {
    display: none;
  }
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .feature-products-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 2rem;
  }
}
@media (max-width: 46.1875em) {
  .feature-products-items {
    display: block;
  }
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .feature-products {
    width: 100%;
    margin-bottom: 4rem;
  }
}
@media (max-width: 46.1875em) {
  .feature-products {
    width: 100%;
    row-gap: 4rem;
    margin-bottom: 3rem;
  }
}

.discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.discount-mail {
  height: 30rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}
.discount-mail h3 {
  margin: 0;
  font-size: 3.6rem;
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .discount-mail h3 {
    font-size: 3rem;
  }
}
@media (max-width: 46.1875em) {
  .discount-mail h3 {
    text-align: center;
    font-size: 2.5rem;
  }
}
.discount-mail p {
  margin: 0;
  text-align: center;
}
.discount-mail .form-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}
.discount-mail .form-mail input {
  padding: 0 2rem;
  width: 40rem;
  height: 5rem;
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .discount-mail .form-mail input {
    width: 30rem;
    height: 4rem;
    border-radius: 5px;
  }
}
@media (max-width: 46.1875em) {
  .discount-mail .form-mail input {
    max-width: 20rem;
    height: 4rem;
    border-radius: 7px;
  }
}
.discount-mail .form-mail-btn {
  padding: 0 3rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  border: none;
  background-color: #3cb878;
  color: white;
}
.discount-mail .form-mail-btn:hover {
  opacity: 0.8;
}
@media (max-width: 46.1875em) {
  .discount-mail .form-mail-btn {
    padding: 0 1rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .discount-mail .form-mail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 46.1875em) {
  .discount-mail .form-mail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .discount-mail {
    padding: 2rem 0;
    height: auto;
  }
}
@media (max-width: 46.1875em) {
  .discount-mail {
    width: 100%;
    padding: 2rem;
  }
}
.discount-logo {
  height: 30rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f5f6f9;
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .discount-logo .logo-wrapper img {
    width: 16.8rem;
  }
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .discount-logo {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
}
@media (max-width: 46.1875em) {
  .discount-logo {
    display: none;
  }
}