footer {
  height: 5.5rem;
  background-color: black;

  @include dflex(center, space-evenly);

  .copy {
    color: gray;

    span {
      @include mobile {
        display: inline-block;
      }
    }

    a {
      color: gray;
      font-weight: bold;
      font-style: italic;

      &:hover {
        color: rgb(187, 187, 187);
      }
    }
  }

  .payment {
    @include dflex;
    gap: 1rem;
  }

  @include mobile {
    height: auto;
    padding: 2rem 0;

    text-align: center;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
